<div class="column-flex">
<div class="top-bottom-10"><a href="/dashboard/create" class="color5">Create New Post</a></div>
{{#if hasPosts }}
<h3 class="color5 shadowed-text">What Was Previously On Your Mind</h3>
<ol class="post-list">
{{#each posts as |post|}}
    {{> post-title post }}
{{/each}}
</ol>
{{/if}}
</div>