<div class="column-flex">
<div class="column-flex post-main">
    <h2 class="post-title">Addressing the Senate Tomorrow!</h2>
    <p>Headed to the Theatre of Pompey to address the Senate tomorrow!  I love being the ruler!  #Dictator, #EmperorForLife</p>
    <div>
        <span>Posted by <span class="username">JCaesar</span><span> on 3/14/44 BC</span>
    </div>
</div>

<div class="column-flex">
    <form id="add-comment" class="website-form column-flex">
        <h2>What do you think?!?</h2>
        <div>
            <textarea id="comment_text" name="comment_text" placeholder="What do you think?!?"></textarea>
        </div>
        <div>
            <button type="submit" class="site-btn-1">Submit</button>
        </div>
    </form>
</div>

<div class="displayed-comments">
    
</div>
</div>
<script src="/javascript/fakePost.js"></script>