<form class="website-form" id="signInForm">
    <h2>Sign In Here!</h2>
    <div>
        <label for="sign-in-username">Username: </label>
        <input type="text" name="sign-in-username" id="sign-in-username" />
    </div>
    <div>
        <label for="sign-in-password">Password: </label>
        <input type="password" name="sign-in-password" id="sign-in-password" />
    </div>
    <div>
        <button type="submit">Sign In!</button>
    </div>
</form>
<form class="website-form" id="signUpForm">
    <h2>Or, Sign Up Here!</h2>
    <div>
        <label for="sign-up-username">Username: </label>
        <input type="text" name="sign-up-username" id="sign-up-username" />
    </div>
    <div>
        <label for="sign-up-password">Password: </label>
        <input type="password" name="sign-up-password" id="sign-up-password" />
    </div>
    <div>
        <button type="submit">Sign Up!</button>
    </div>
</form>
<script src="/javascript/login.js"></script>